APP_PORT=8080

# Origen permitido por CORS
FRONTEND_ORIGIN=http://localhost:3000
# debug | release
GIN_MODE=debug

# Datos (solo cmd/seed)
DATA_DIR=../data

# DB
DB_HOST=localhost
DB_PORT=5433
DB_USER=energy_user
DB_PASSWORD=here_password
DB_NAME=energy_management
DB_SSLMODE=disable
